.diplay-none {
	display: none;
}
.container h1 {
	color: red;
}
.container {
	background-color: orange;
	height: 100%;
	width: 100%;
}
.delivery{
	display: none;
}
#contact {
	color: black;
}
#reciept {
	font-size: 12px;
	padding-right: 8%;
	padding-left: 5%;
	color: #343a40;
}